<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454150593087-cbhhgodc1baps9h23uss0ac303hnffn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454150593087-cbhhgodc1baps9h23uss0ac303hnffn5</string>
	<key>API_KEY</key>
	<string>AIzaSyAsQd5aQ8-zyK1lQcM123hOPmaWMJkyuYY</string>
	<key>GCM_SENDER_ID</key>
	<string>454150593087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esraa.E-Phone</string>
	<key>PROJECT_ID</key>
	<string>e-phone-f95d3</string>
	<key>STORAGE_BUCKET</key>
	<string>e-phone-f95d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454150593087:ios:8ad88de26081be587d368a</string>
	<key>DATABASE_URL</key>
	<string>https://e-phone-f95d3.firebaseio.com</string>
</dict>
</plist>